.avatar{
  width: calc(4rem + 10px);
  height: calc(4rem + 10px);
  border-radius: 8px;
  
}

.avatarWithBorder {
  
  width: calc(4rem + 10px);
  height: calc(4rem + 10px);
  border-radius: 8px;
  border: 2px solid var(--green-500);
  outline: 2px solid var(--gray-800) ;
    
}